@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --text-white: #fff;
  --text-gray: #9aa3bd;
  --bg-dark: #111;
  --bg-button: #333;
  --bg-hero: #222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.header-menu {
  display: flex;
  background-color: var(--bg-dark);
  justify-content: center;

  .navegation {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4dvw;

    .logo {
      width: 10dvw;
      height: auto;
      background-color: var(--bg-button);
      border: 1px solid var(--text-gray);
      border-radius: 40px;
    }

    .item {
      
      .link {
        text-decoration: none;
        color: var(--text-gray);
        transition: 0.3s;

        &:hover {
          color: var(--text-white);
        }
      }
      
      .call-to-action {
        background-color: var(--bg-button);
        border: 1px solid var(--text-gray);
        border-radius: 20px;
        color: var(--text-white);
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: var(--text-white);
          color: var(--bg-dark);
        }
      }
    }
  }
}

.hero {
  background-color: var(--bg-hero);
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  .search{
    background-image: url('../images/search.png');
    background-size: 10px;
    background-position: start;
    background-repeat: no-repeat;
    padding-inline-start: 10px;
  }
}
/*
background-image: linear-gradient(
  to right,
  #ff0000,
  #00ff00,
  #0000ff,
  #ffff00
); */
